
<!DOCTYPE html>
<html lang="pt-br">

<%- include('partials/head.ejs')  %>

<body>

    <h1><%= title %></h1>

    <%- include('partials/navbar.ejs')  %>

  
    <ul>
        <% users.forEach((user) => { %>
            <li>
                <%= user.name %> - Idade: <%= user.age %> - <%= user.email %> -
                <a href="/edit?id=<%= user._id %>">[Editar]</a> - 
                <a href="/remove/<%= user._id %>">[Remover]</a>
            </li>
        <% }) %>
    </ul>
    
    <%- include('partials/foot.ejs')  %>
</body>
</html>